---
import Layout from '@layouts/Layout.astro';
import ToggleMobileMenu from '@components/ToggleMobileMenu';
import App from '@components/CurrencyConverter/App.tsx';
import { Content } from '@components/CurrencyConverter/README.md';
---

<Layout
	title="Convertiseur de devises"
	description="Convertiseur de devises"
>
  <ToggleMobileMenu client:visible />
  <main class="flex w-full h-full">
    <aside class="flex flex-[1_1_38%] justify-end lg:w-[38%]">
      <div class="flex flex-col w-full lg:max-w-[488px]">
        <div class="flex-auto"></div>
        <App client:load />
      </div>
    </aside>
    <section class="lg:w-[62%] t-0 hidden lg:flex lg:flex-[1_1_62%] overflow-y-auto">
      <article class="w-full max-w-[792px] p-6 mt-12 prose-base prose-h1:mt-3 prose-a:text-blue-600">
        <a href="/">Accueil</a> / <a href="/currency-converter">Convertiseur de devises</a>
        <Content />
      </article>
    </section>
  </main>
</Layout>
