---
import Layout from '@layouts/Layout.astro';
import App from '@preact/CurrencyConverter/App';
import NavBar from '@preact/NavBar';
import { Content as README } from '@preact/CurrencyConverter/README.md';
---

<Layout
	title="Convertiseur de devises"
	description="Convertiseur de devises"
>
  <NavBar client:load />
  <main class="flex w-full">
    <aside class="hidden lg:fixed lg:bottom-0 lg:right-[62%] lg:flex lg:justify-end w-full lg:w-[38%]">
      <App client:load />
    </aside>
    <section class="flex w-full lg:w-[62%] lg:ml-[38%]">
      <article class="w-full lg:max-w-screen-md p-6 prose-base prose-h1:mt-3 prose-a:text-blue-600">
        <README />
      </article>
    </section>
  </main>
</Layout>
