---
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="Merci pour votre inscription"
  description="">
  <main class="container">
    <h1 class="text-2xl font-bold">Merci pour votre inscription</h1>
    <p class="mt-4"><a href="/">Retour à accueil</a></p>
  </main>
</Layout>
