---
import Layout from '@layouts/Layout.astro';
import App from '@components/CurrencyConverter/App';
import NavBar from '@components/NavBar';
import { Content as README } from '@components/CurrencyConverter/README.md';
---

<Layout
	title="Convertiseur de devises"
	description="Convertiseur de devises"
>
  <NavBar codeUrl="https://github.com/davland7/youtube/tree/main/src/components/CurrencyConverter" client:load />
  <main class="flex md:flex-col w-full">
    <aside class="hidden md:inline xl:fixed xl:bottom-0 xl:right-[62%] xl:flex xl:justify-end w-full xl:w-[38%]">
      <App client:load />
    </aside>
    <section class="flex flex-col w-full xl:w-[62%] xl:ml-[38%]">
      <article class="w-full md:max-w-screen-md md:m-auto xl:m-0 p-6 prose-base prose-a:text-blue-600">
        <README />
      </article>
    </section>
  </main>
</Layout>
