---
import Layout from '@layouts/Layout.astro';
import NavBar from '@components/NavBar';
import CurrencyConverter from '@components/CurrencyConverter/CurrencyConverter';
import { Content } from '@components/CurrencyConverter/Article.mdx';
---

<Layout
	title="Convertiseur de devises"
	description="Convertiseur de devises"
>
  <NavBar codeUrl="https://github.com/davland7/youtube/tree/main/src/components/CurrencyConverter" client:load />
  <main class="flex md:flex-col w-full">
    <aside class="hidden md:inline xl:fixed bottom-0 right-[62%] xl:flex justify-end w-full xl:w-[38%] p-5">
      <CurrencyConverter client:load />
    </aside>
    <section class="flex flex-col w-full xl:w-[62%] xl:ml-[38%]">
      <article class="w-full md:max-w-screen-md md:m-auto xl:m-0 p-5
        prose-base prose-a:underline hover:prose-a:no-underline prose-table:table-auto prose-table:w-full prose-th:px-2 prose-th:py-4 prose-th:border prose-th:border-black prose-th:dark:border-white prose-th:text-left prose-td:p-2 prose-td:border prose-td:border-black prose-td:dark:border-white prose-ul:list-disc">
        <Content />
      </article>
    </section>
  </main>
</Layout>
