---
import Layout from '@layouts/Layout.astro';
import Newsletter from '@components/Newsletter.astro';
---

<Layout
  title="code • finance"
  description="Bienvenue sur la chaîne @davland7, où l’on parle de code et de finance personnelle ! Abonnez-vous pour découvrir comment ces deux mondes se combinent pour vous offrir des perspectives financières nouvelles et passionnantes.">
  <div class="m-auto max-w-lg p-10">
    <h1 class="mb-5 text-4xl font-bold text-center">
      code • finance
    </h1>
    <Newsletter />
    <main class="flex flex-col items-center justify-center">
      <h2 class="my-10 text-2xl font-bold text-center">
        Pages
      </h2>
      <ul class="mb-5 list-disc text-lg">
        <li>
          <a class="menu__link underline hover:no-underline" href="/convertisseur-de-devises" target="_self">
            Convertisseur de devises
          </a>
        </li>
        <li>
          <a class="menu__link underline hover:no-underline" href="/rendement-fonds-ftq" target="_self">
            Rendement du Fonds de solidarité
          </a>
        </li>
      </ul>
    </main>
    <footer class="flex justify-center m-10 p-5">
      <a href="https://www.youtube.com/@davland7">
        <img class="dark:hidden" width="192" height="43" src="/images/yt_logo_rgb_light.png" alt="YouTube Logo" />
        <img class="hidden dark:block" width="192" height="43" src="/images/yt_logo_rgb_dark.png" alt="YouTube Logo" />
      </a>
    </footer>
  </div>
</Layout>
