---
import Layout from '@layouts/Layout.astro';
import Newsletter from '@components/NewsLetter.astro';
---

<Layout
  title="Welcome to Astro."
  description="Home">
	<main class="fixed top-0 right-0 bottom-0 left-0 flex flex-col items-center justify-center">
    <Newsletter />
	</main>
</Layout>
