---
import Layout from '../layouts/Layout.astro';
---

<Layout title="@davland7">
	<main>
		<form
			name="newsletter"
			method="POST"
			data-netlify="true"
		>
			<input type="hidden" name="form-name" value="newsletter">
			<p>
				<label>Your Email: <input type="email" name="email" /></label>
			</p>
			<p>
				<button type="submit">Send</button>
			</p>
		</form>
	</main>
</Layout>
