---
import Layout from '@layouts/Layout.astro';
import Footer from '@components/Footer.astro';
---

<Layout
  title="David Landry"
  description="Bienvenue sur mon site">
  <div class="flex flex-col-reverse m-auto max-w-lg">
    <main class="flex flex-col items-center justify-center">
      <div class="text-center mb-6">
        <h2 class="text-2xl font-bold mb-2">Pages</h2>
        <ul class="flex flex-col items-center justify-center space-y-4">
          <li>
            <a href="/convertisseur-de-devises" class="my-2 text-yellow-500 underline hover:no-underline">Convertisseur de devises</a>
          </li>
        </ul>
      </div>
    </main>
    <Footer />
  </div>
</Layout>
