---
import Layout from '@layouts/Layout.astro';
import Newsletter from '@components/Newsletter.astro';
---

<Layout
  title="David Landry"
  description="Bienvenue sur la chaîne @davland7, où l'on parle de code et de finance personnelle ! Abonnez-vous pour découvrir comment ces deux mondes se combinent pour vous offrir des perspectives financières nouvelles et passionnantes.">
  <div class="m-auto max-w-lg p-10">
    <h1 class="mb-6 text-4xl font-bold text-center">
      code &bull; finance
    </h1>
    <Newsletter />
    <main class="flex flex-col items-center justify-center">
      <h2 class="mb-6 text-2xl font-bold text-center">
        Pages
      </h2>
      <ul class="mb-6 list-disc text-lg">
        <li>
          <a class="underline hover:no-underline" href="/convertisseur-de-devises" target="_self">
            Convertisseur de devises
          </a>
        </li>
      </ul>
    </main>
    <footer class="flex justify-center m-12">
      <a href="https://www.youtube.com/@davland7">
        <img class="dark:hidden m-5" src="/images/youtube-logo-light-192x43.png" alt="YouTube Logo" />
        <img class="hidden dark:block m-5" src="/images/youtube-logo-dark-192x43.png" alt="YouTube Logo" />
      </a>
    </footer>
  </div>
</Layout>
