---
import NewsletterForm from '@components/NewsletterForm';
---

<div class="text-center mt-32 p-8 max-w-lg border-t border-yellow-500">
  <h3 class="text-2xl font-bold mb-2">Abonnes-toi à ma newsletter</h3>
  <p>Reste informé de mes dernières actualités et annonces en t'inscrivant à ma newsletter.</p>
  <NewsletterForm client:load />
  <p class="text-xs mt-4 max-w-xs">Tu pourras te désabonner à tout moment en cliquant sur le lien en bas de chaque e-mail.</p>
</div>
