---
import NewsletterForm from '@components/NewsletterForm';
---

<div class="flex flex-col items-center p-8 text-center">
  <h3 class="mb-2 text-2xl font-bold">Abonnes-toi à ma newsletter</h3>
  <p class="mb-2">Reste informé de mes dernières actualités et annonces en t'inscrivant à ma newsletter.</p>
  <NewsletterForm client:load />
  <p class="mb-2 max-w-xs text-xs">Tu pourras te désabonner à tout moment en cliquant sur le&nbsp;lien&nbsp;en&nbsp;bas&nbsp;de&nbsp;chaque&nbsp;e-mail.</p>
  <div class="m-12">
    <a href="https://www.youtube.com/@davland7" target="_blank">
      <img src="/images/yt_logo_rgb_light.png" alt="YouTube Logo" class="w-[128px]" />
    </a>
  </div>
</div>
