---
import NewsletterForm from '@components/NewsletterForm';
---

<div>
  <h3>Abonnez-vous à mon l’infolettre</h3>
  <p>Restez informé de nos dernières actualités et annonces en vous abonnant à mon l’infolettre.</p>
  <NewsletterForm client:load />
  <p>Vous pouvez vous désabonner à tout moment en cliquant sur le lien en bas de chaque e-mail.</p>
</div>
