---
// pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
---

<div class="text-center mb-8">
  <h1 class="text-2xl font-bold mb-2">Abonnez-vous à notre newsletter</h1>
  <p>Restez informé de nos dernières actualités et annonces en vous abonnant à notre newsletter.</p>
</div>
<form
  netlify
  netlify-honeypot
  name="newsletter"
  method="POST"
  action="/success"
>
  <p class="hidden">
    <label>
      Don’t fill this out if you’re human: <input name="bot-field" />
    </label>
  </p>
  <input type="hidden" name="form-name" value="newsletter" />
  <label for="email">Email</label>
  <input id="email" type="email" name="email" required />
  <button type="submit">Submit</button>
</form>
