---
import NewsletterForm from '@components/NewsletterForm';
---

<div class="flex flex-col items-center text-center">
  <h2 class="text-2xl font-bold">
    Abonnes-toi à ma newsletter
  </h2>
  <p class="mt-2">
    Reste informé de mes dernières actualités et annonces en t’inscrivant à ma newsletter.
  </p>
  <NewsletterForm client:load />
  <p class="mt-2 max-w-xs text-xs">
    Tu pourras te désabonner à tout moment en cliquant sur le lien en bas de chaque e-mail.
  </p>
</div>
