---
import Layout from '@layouts/Layout.astro';

interface Props {
	frontmatter: {
    title: string;
    description: string;
  };
}

const { title, description } = Astro.props.frontmatter;
---

<Layout
  title={title}
  description={description}>
  <main>
    <section>
      <article class="w-full max-w-screen-md m-auto p-5
        prose-base prose-a:underline hover:prose-a:no-underline prose-table:table-auto prose-table:w-full prose-th:px-2 prose-th:py-4 prose-th:border prose-th:border-black prose-th:dark:border-white prose-th:text-left prose-td:p-2 prose-td:border prose-td:border-black prose-td:dark:border-white prose-ul:list-disc">
        <slot />
      </article>
    </section>
  </main>
</Layout>
