---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

// lg:ml-[38%]
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="">
		<slot name="app" />
		<main class="fixed top-0 right-0 bottom-0 md:left-[38%] overflow-y-auto z-10 bg-blue-200">
			<div class="mt-14 p-6 w-full max-w-[792px] prose-base">
				<slot />
			</div>
		</main>
	</body>
</html>
