---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

// lg:ml-[38%]
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot name="app" />
		<main class="fixed top-12 right-0 bottom-0 left-0 z-10 bg-white overflow-y-auto md:static md:ml-[38%] md:overflow-visible">
			<div class="w-full max-w-[792px] p-6 prose-base">
				<slot />
			</div>
		</main>
	</body>
</html>
