---
import NewsletterForm from '@components/NewsletterForm';

interface Props {
  frontmatter: any; // Add the frontmatter property to the Props interface
}

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L13ZVMKVRM"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-L13ZVMKVRM');
    </script>
		<meta charset="UTF-8" />
		<meta name="description" content={frontmatter.description} />
    <meta name="theme-color" content="#ffffff" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/logo.svg" sizes="any" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png" />
		<title>{frontmatter.title}</title>
	</head>
	<body class="dark:bg-black dark:text-white">
    <main class="w-full max-w-screen-md m-auto p-5">
      <header class="flex justify-center m-10 text-sm">
        code &#8226; finance
      </header>
      <section>
        <article class="prose-base prose-a:underline hover:prose-a:no-underline prose-table:table-auto prose-table:w-full prose-th:px-2 prose-th:py-4 prose-th:border prose-th:border-black prose-th:dark:border-white prose-th:text-left prose-td:p-2 prose-td:border prose-td:border-black prose-td:dark:border-white prose-ul:list-disc">
          <slot />
        </article>
      </section>
      <section class="w-full max-w-md my-16 m-auto">
        <div class="flex flex-col items-center text-center">
          <h2 class="mt-4 text-2xl font-bold">
            Abonnes-toi à ma newsletter
          </h2>
          <p class="mt-2">
            Reste informé de mes dernières actualités et annonces en t’inscrivant à ma newsletter.
          </p>
          <NewsletterForm client:load />
          <p class="mt-4 max-w-xs text-xs">
            Tu pourras te désabonner à tout moment en cliquant sur le lien en bas de chaque e-mail.
          </p>
        </div>
      </section>
      <footer class="flex justify-center m-10 p-5">
        <a href="https://www.youtube.com/@davland7">
          <img class="dark:hidden" width="192" height="43" src="/images/yt_logo_rgb_light.png" alt="YouTube Logo" />
          <img class="hidden dark:block" width="192" height="43" src="/images/yt_logo_rgb_dark.png" alt="YouTube Logo" />
        </a>
      </footer>
    </main>
	</body>
</html>
